@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: "Righteous", cursive;
  height: 100%;
  margin: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(45, 253, 155, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.header, .animation-header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}

.button-display, 
.button-display-1, 
.button-display-2 {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
  justify-content: center;
}

.rotate-button {
  position: relative;
  display: inline-block;
  background-color: #b5179e;
  color: white;
  font-size: 1.25rem;
  line-height: 1;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 10px;
  transition: transform 2s;
}

.rotate-button:hover {
  transform: rotate(180deg);
}

.color-button {
  position: relative;
  display: inline-block;
  background-color: #b5179e;
  color: white;
  font-size: 1.25rem;
  line-height: 1;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 2s, color 2s;
}

.color-button:hover {
  background-color: #ffc6ff;
  color: black;
}

.border-button {
  position: relative;
  display: inline-block;
  background-color: white;
  color: #b5179e;
  border: 2px solid #b5179e;
  border-radius: 12px;
  font-size: 1.25rem;
  line-height: 1;
  padding: 12px 16px;
  text-decoration: none;
  transition: background-color 2.5s, color 2.5s; 
}

.border-button:hover {
background-color: #b5179e;
color: white;
}

.scale-button {
  position: relative;
  display: inline-block;
  background-color: #b5179e;
  color: white;
  font-size: 1.25rem;
  line-height: 1;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 10px;
  transition: transform 1s ease;
}

.scale-button:hover {
  transform: scale(1.2);
}

.shadow-button {
  position: relative;
  display: inline-block;
  background-color: #b5179e;
  color: white;
  font-size: 1.25rem;
  line-height: 1;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 10px;
  transition: box-shadow 1s ease;
}

.shadow-button:hover {
  box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.75);
}

.hover-button {
  position: relative;
  display: inline-block;
  color: rgb(77, 72, 72);
  font-size: 1.25rem;
  line-height: 1;
  padding: 12px 16px;
  text-decoration: none;
  transition: background-color 2.5s, color 2.5s, border-radius 2s;
}

.hover-button:hover {
  background-color: #b5179e;
  color: white;
  border-radius: 16px;
}

.moving-shadow-button {
  position: relative;
  display: inline-block;
  background-color: #b5179e;
  color: white;
  font-size: 1.25rem;
  line-height: 1;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 15px 15px 0px 0px rgba(255, 255, 255, 1);
  transition: box-shadow 1s ease;
}

.moving-shadow-button:hover {
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
}

/*Animation*/
/* https://css-tricks.com/a-handy-little-system-for-animated-entrances-in-css/ */
.ascend-button {
  position: relative;
  display: inline-block;
  background-color: #b5179e;
  color: white;
  font-size: 1.25rem;
  line-height: 1;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 10px;
  animation-name: ascend;
  animation-duration: 3s; 
  animation-timing-function: ease-in; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite; /*1 - da se zaustavi animacija*/
  animation-fill-mode: none;
  animation-play-state: running; 
}

@keyframes ascend {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.background-button {
  position: relative;
  display: inline-block;
  background-color: #b5179e;
  color: white;
  font-size: 1.25rem;
  line-height: 1;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 10px;
  animation: background 4s ease-in infinite;
}

@keyframes background {
  0% {
    background:#b5179e;
  }
  100% {
    background:#013198;
  }
}

.spin-button {
  position: relative;
  display: inline-block;
  background-color: #b5179e;
  color: white;
  font-size: 1.25rem;
  line-height: 1;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 10px;
  animation: spin 4s ease 0s 1 forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.scale-button-1 {
  position: relative;
  display: inline-block;
  background-color: #b5179e;
  color: white;
  font-size: 1.25rem;
  line-height: 1;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 10px;
  animation: scale 4s ease-out 0s infinite;
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5,0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}

.blur-button {
  position: relative;
  display: inline-block;
  background-color: #b5179e;
  color: white;
  font-size: 1.25rem;
  line-height: 1;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 10px;
  animation: blur 4s ease 0s infinite;
}

@keyframes blur {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}